<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <profiles>
    <profile>
      <id>inject-group-id</id>
      <properties>
        <group-id>${groupId}</group-id>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>inject-group-id</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>${client.id}~?~${client.secret}</password>
    </server>
  </servers>

</settings>